{% extends '/contractor/layout.html' %}
{% block body %}
    <div class="container mt-3">
        <div class="head-1 text-center">Welcome to the contractor Portal</div>
        <div class="col-lg-12 mt-5">
            <!--Paragraph 1-->
            <p>
                With over 26 years experience as an agency for domestic cleaners, we know what you need when it comes to providing help with the housework. You can choose just the cleaning services you need or engage us for regular full housekeeping services. Kleen & Tidy is here to give you back the time you need to maintain your lifestyle.
            </p>

            <!--Paragraph 2-->
            <p>
                Hard to believe, but our cleaners really love housework! Our cleaners are recruited and trained and ready for work. Instead of spending your weekends slaving away, leave the cleaning and chores to the experts who love doing it. See our list of services below and get your weekend back.
            </p>

        </div>
    </div>


{% endblock  %}